---
import Separator from '../../core/separator.astro';
import Badge from '../../core/badge.astro';
import PopoverContent from '../../core/popover-content.astro';
import Button from '../../core/button.astro';

import {Astronav, Dropdown, DropdownItems} from "astro-navbar";
import { PlusCircled } from '@astropub/icons';

type IconType = typeof PlusCircled;

export interface Options {
  value: string;
  icon?: IconType;
}

interface Props {
  column?: string;
  title?: string;
  options: Options[];
}

const { column, title, options } = Astro.props as Props;
---
<div class="astronav-dropdown-menu" data-title={title}>
    <Astronav>
        <Dropdown class="relative" >
                <Button id=`toggle-popover-${column}` variant="outline" size="sm" className="h-8 border-dashed" data-popover-target="popover-default">
                    <PlusCircled class="mr-2 h-4 w-4" />
                    {title}
                        <>
                            <Separator  orientation="vertical" className="separator mx-2 h-4 hidden" id={title + "-separator"}/>
                            <Badge variant="secondary" size="sm" className="selected-count-badge rounded-sm px-1 font-normal lg:hidden">
                                <!-- This is where the count of the selected values will go -->
                            </Badge>
                            <div class="badge-container hidden space-x-1 lg:flex">
                                <!-- This is where the selected values will go -->
                            </div>
                        </>
                </Button>
                <DropdownItems class="border-secondary">
                    <PopoverContent title={title} options={options} className="w-[200px] p-0" align="start" />
                </DropdownItems>
        </Dropdown>
    </Astronav>
</div>


<script>
    import { getURLParams, updateDisplay, setupDropdown } from '../../ts/filterDropdown';

    document.addEventListener('DOMContentLoaded', () => {
        // Select all instances of the filters
        const dropdowns = document.querySelectorAll('.astronav-dropdown-menu'); 
        const urlParams = getURLParams();
        dropdowns.forEach(dropdown => {
            const title = dropdown.getAttribute('data-title');
            if (!title) return;
            if (urlParams && urlParams[title] !== undefined) {
                updateDisplay(dropdown)
            }
            setupDropdown(dropdown, title, urlParams[title]);
            dropdown.addEventListener('click', (event) => {
                event.stopPropagation();
            });
        });
    });
</script>