---
import Input from "./input.astro"
import DataTableFilter from "./data-table-filter.astro";
import Download from "./download.astro";
import ApplyFilterButton from './apply.astro'
import Reset from "./reset.astro";

import { proposalTableStatuses } from '../cols/proposal/status.astro'
import { proposalCategoryOptions } from "../cols/proposal/title.astro";
import { directions } from '../cols/votes/vote.astro'
import { votesTableStatuses } from "../cols/votes/status.astro";

const { proposal } = Astro.props as { proposal: boolean}

const filter1 = proposal ? proposalTableStatuses : votesTableStatuses;
const filter2 = proposal ? proposalCategoryOptions : directions;
const titles: string[] = proposal ? ['Status', 'Category'] : ['Status', 'Vote'];
---
<div class="flex items-center justify-between">
    <div class="flex flex-1 items-center space-x-2">
        <Input className="h-8 w-[150px] lg:w-[250px]" placeholder="Find proposal..." />
        <DataTableFilter column={titles[0]} title={titles[0]} options={filter1}/>
        <DataTableFilter column={titles[1]} title={titles[1]} options={filter2}/>
        <ApplyFilterButton />
        <Reset />
    </div>
    <Download />
</div>