---
import Dialog from "./dialog.astro";
import Button from "../core/button.astro";

type ModalButtonProps = {
  direction: 'For' | 'Against';
  memo: string;
  className?: string;
};

const { direction, memo, className, ...props } = Astro.props as ModalButtonProps;
const dialogId = direction;
---
<Button id={"open-dialog-button-" + direction} size="sm" className={className} {...props} data-direction={direction}> 
  {direction}
</Button>
<Dialog id={dialogId} memo={memo}/>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    function openDialog(dialogId) {
      const dialog = document.getElementById(dialogId);
      if (dialog) {
        dialog.showModal();
      }
    }

    function closeDialog(dialogId) {
      const dialog = document.getElementById(dialogId);
      if (dialog) {
        dialog.close();
      }
    }

    const buttons = document.querySelectorAll('[data-direction]');
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const isForValue = button.getAttribute('data-direction');
        const dialogId = isForValue;
        openDialog(dialogId);
      });
    });

    const closeButtons = document.querySelectorAll('[data-close]');
      closeButtons.forEach(button => {
        button.addEventListener('click', () => {
          const isForValue = button.getAttribute('data-close');
          closeDialog(isForValue);
        });
      });

      document.addEventListener('click', event => {
      const openDialogs = document.querySelectorAll('dialog[open]');
      openDialogs.forEach(dialog => {
        const dialogContent = dialog.querySelector('.dialog-content');
        if (dialogContent && !dialogContent.contains(event.target)) {
          closeDialog(dialog.id);
        }
      });
    }, true);
  });
</script>
