---
import Layout from '../../../../layouts/Layout.astro';
import PageHeader from '../../../../components/page-header/page-header.astro';
import PageHeaderHeading from '../../../../components/page-header/heading.astro';
import PageHeaderDescription from '../../../../components/page-header/description.astro';
import SmallerPageHeaderDescription from '../../../../components/page-header/smaller-description.astro';
import VotesMetrics from '../../../../components/vote-metrics/vote-metrics.astro';
import Separator from '../../../../components/core/separator.astro';
import VotesTable from '../../../../components/table/votes-table.astro';
import { GetProposalListResult, getProposal, getProposalList } from '../../../../../common/store';

export async function getStaticPaths() {
    const proposals: GetProposalListResult = await getProposalList();
    const ids: number[] = proposals.map(proposal => proposal.id.toString());
    return ids.map(id => {
        return { params: { id } };
    });
}

const id = Astro.params.id;

const proposal = await getProposal(id);
---
<Layout>
    <div class="container relative">
        <PageHeader className="hidden md:block pb-6">
            <PageHeaderHeading>{proposal.title}</PageHeaderHeading>
            <PageHeaderDescription>{proposal.description}
            </PageHeaderDescription>
            <SmallerPageHeaderDescription className="text-base max-w-[1000px]">
                Authoritative document: {' '}
                <a
                    href={proposal.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-logoOrange"
                >
                    {proposal.url}
                </a>
            </SmallerPageHeaderDescription>
        </PageHeader>
    
        <PageHeader className="block md:hidden pb-6 text-center">
            <PageHeaderHeading className="text-2xl">{proposal.title}</PageHeaderHeading>
            <PageHeaderDescription className="text-base">{proposal.description}</PageHeaderDescription>
            <SmallerPageHeaderDescription className="text-base max-w-[1000px]">
                Authoritative document: {' '}
                <a
                    href={proposal.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-logoOrange"
                >
                {proposal.url}
                </a>
            </SmallerPageHeaderDescription>
        </PageHeader>

        <div class="flex flex-col gap-2">
            <VotesMetrics variant="results" proposal={proposal}/>
            <Separator />
            <VotesTable votes={proposal.votes}/>
        </div>
    </div>
</Layout>